&copy; 2011&ndash;<%= new Date().getFullYear() %>
<a href="https://pangalink.net/"><span class="glyphicon glyphicon-link"></span> <%= packageTitle %> <%= version %></a>, Postal Systems OÜ
<a href="mailto:info@postalsys.com">info@postalsys.com</a>.
