&copy; 2011&ndash;<%= new Date().getFullYear() %> <a href="https://pangalink.net/"><span class="glyphicon glyphicon-link"></span> <%= title %> <%= version %></a>, Kreata OÜ <a href="mailto:info@pangalink.net">info@pangalink.net</a>.
