<li<% if(page=="/"){%> class="active"<%}%>><a href="/">Esileht</a></li>

<% if(user && user.username){ %>
<li<% if(page == "/projects" || page=="/project" || page=="/payment"){%> class="active"<%}%>><a href="/projects">Makselahendused</a></li>
<% } %>

<li<% if(page == "/docs" && name == "info"){%> class="active"<%}%>><a href="/docs/info">Info</a></li>

<li<% if(page == "/api" || page=="/api" || page=="/api"){%> class="active"<%}%>><a href="/api">API</a></li>

<li<% if(page == "/docs" && name == "ui-tests"){%> class="active"<%}%>><a href="/docs/ui-tests">UI automaattestid</a></li>

<% if(user && user.username){ %>
    <li<% if(page == "/account/profile" && !userId){%> class="active"<%}%>><a href="/account/profile">Minu profiil</a></li>
<% } %>

<% if(user && user.role === 'admin'){ %>
    <li<% if(page.indexOf("/account/users")===0 || (page == "/account/profile" && userId)){%> class="active"<%}%>><a href="/account/users">Kasutajad</a></li>
<% } %>

<% if(user && user.username){ %>
    <li<% if(page == "/account/logout"){%> class="active"<%}%>><a href="/account/logout">Logi välja</a></li>
<% } %>

<% if(!user || !user.username){%>
    <li<% if(page == "/account/login"){%> class="active"<%}%>><a href="/account/login">Logi sisse</a></li>
<% } %>
