<li<% if(page=="/"){%> class="active"<%}%>><a href="/">Esileht</a></li>

<% if(user && user.username){ %>
<li<% if(page == "/projects" || page=="/project" || page=="/payment"){%> class="active"<%}%>><a href="/projects">Makselahendused</a></li>
<% } %>

<li<% if(page == "/docs" && name == "info"){%> class="active"<%}%>><a href="/docs/info">Info</a></li>

<li<% if(page == "/api" || page=="/api" || page=="/api"){%> class="active"<%}%>><a href="/api">API</a></li>

<li<% if(page == "/docs" && name == "ui-tests"){%> class="active"<%}%>><a href="/docs/ui-tests">UI automaattestid</a></li>

<% if(user && user.username){ %>
    <li<% if(page == "/profile"){%> class="active"<%}%>><a href="/profile">Minu profiil</a></li>
<% } %>

<li><a href="http://pangalink.wordpress.com/"><span class="glyphicon glyphicon-share-alt"></span> Blogi</a></li>

<% if(user && user.username){ %>
    <li<% if(page == "/logout"){%> class="active"<%}%>><a href="/logout">Logi välja</a></li>
<% } %>

<% if(!user || !user.username){%>
    <li<% if(page == "/join"){%> class="active"<%}%>><a href="/join">Loo endale konto</a></li>
    <li<% if(page == "/login"){%> class="active"<%}%>><a href="/login">Logi sisse</a></li>
<% } %>
