<div class="page-header">
    <h1>Uuenda parooli</h1>
</div>

<form action="/reset-password" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    <p>Uue parooli genereerimiseks kasutajale e-posti aadressiga <code><%= username %></code> kliki järgmisel nupul:</p>

    <input type="hidden" name="username" value="<%= username %>" />
    <input type="hidden" name="resetToken" value="<%= resetToken %>" />

    <button type="submit" class="btn btn-info">Loo uus parool</button>
</form>
