<div class="page-header">
    <h1>Lisa uus kasutaja</h1>
</div>

<form action="/account/users/add" method="post" class="form-horizontal">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="form-group">
        <label class="col-lg-2 control-label" for="username">E-posti aadress</label>
        <div class="col-lg-8">
            <input class="form-control" type="email" name="username" id="username" value="<%= username %>" placeholder="user@example.com" required/>
            <span class="help-block">Selle vormi kaudu saad saata kontaktile konto aktiveerimise lingi. Link on kasutatav ühekordselt ning seda ei saa jagada.</span>
        </div>
    </div>
    
    <div class="form-group<% if(validation.role){%> has-error<%}%>">
        <label class="col-lg-2 control-label" for="role">Kasutaja roll</label>
        <div class="col-lg-8">
            <select class="form-control" name="role" id="role">
                <option <% if(role == 'admin'){ %> selected<% } %> value="admin">Admin</option>
                <option <% if(role == 'user' || !role){ %> selected<% } %> value="user">Tavakasutaja</option>
                <option <% if(role == 'client'){ %> selected<% } %> value="client">Klient</option>
            </select>
            <% if(validation.role){%>
                <span class="help-block"><%= validation.role %></span>
            <%}%>
            <span class="help-block">Kliendikontodel puudub õigus lisada või muuta andmeid. Samuti saavad kliendikontod näha ainult nende makselahenduste andmeid, millele on neile ligipääs antud.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-2"></div>
        <div class="col-lg-6"><button type="submit" class="btn btn-info">Saada konto link</button></div>
    </div>

</form>
