[Unit]
Description=Pangalink server
Requires=mongod.service
After=syslog.target network.target mongod.service

[Service]
Environment="NODE_ENV=production"
WorkingDirectory=/opt/pangalink
ExecStart=node index.js
Type=simple
Restart=always
RestartSec=10
SyslogIdentifier=pangalink

[Install]
WantedBy=multi-user.target
